*.pyc
examples/bioapp1/bioapp1_2d_7.0.dat
examples/bioapp1/bioapp1_2d.out
examples/bioapp1/bioapp1_3d_7.0.dat
examples/bioapp1/bioapp1_3d.out
examples/bioapp1/materialdb_2d
examples/bioapp1/materialdb_3d
examples/capacitance/cap1d_example.out
examples/capacitance/cap2d_0.vtu
examples/capacitance/cap2d_1.vtu
examples/capacitance/cap2d_2.vtu
examples/capacitance/cap2d.dat
examples/capacitance/cap2d_example.out
examples/capacitance/cap2d.msh
examples/capacitance/cap2d.visit
examples/capacitance/cap2d.vtm
examples/diode/diode_1d.dat
examples/diode/diode_1d_example.out
examples/diode/diode_2d_example.out
examples/diode/gmsh_diode2d.dat
examples/diode/gmsh_diode2d_example.out
examples/diode/gmsh_diode2d_out.msh
examples/diode/gmsh_diode3d_dd.dat
examples/diode/gmsh_diode3d_example.out
examples/diode/gmsh_diode3d_out.msh
examples/diode/ssac_diode_example.out
examples/mobility/gmsh_mos2d_dd.dat
examples/mobility/gmsh_mos2d_dd_kla_0.vtu
examples/mobility/gmsh_mos2d_dd_kla_1.vtu
examples/mobility/gmsh_mos2d_dd_kla_2.vtu
examples/mobility/gmsh_mos2d_dd_kla.dat
examples/mobility/gmsh_mos2d_dd_kla.visit
examples/mobility/gmsh_mos2d_dd_kla.vtm
examples/mobility/gmsh_mos2d_dd_kla_zero_0.vtu
examples/mobility/gmsh_mos2d_dd_kla_zero_1.vtu
examples/mobility/gmsh_mos2d_dd_kla_zero_2.vtu
examples/mobility/gmsh_mos2d_dd_kla_zero.dat
examples/mobility/gmsh_mos2d_dd_kla_zero.visit
examples/mobility/gmsh_mos2d_dd_kla_zero.vtm
examples/mobility/gmsh_mos2d_example.out
examples/mobility/gmsh_mos2d_kla_example.out
examples/mobility/gmsh_mos2d_out.msh
examples/mobility/gmsh_mos2d_potentialonly_0.vtu
examples/mobility/gmsh_mos2d_potentialonly_1.vtu
examples/mobility/gmsh_mos2d_potentialonly_2.vtu
examples/mobility/gmsh_mos2d_potentialonly.visit
examples/mobility/gmsh_mos2d_potentialonly.vtm
examples/vectorpotential/gmsh_twowire_out.dat
examples/vectorpotential/gmsh_twowire_out.msh
examples/vectorpotential/twowire_example.out
testing/trimesh2.msh
testing/trimesh3.msh
testing/dio2_2d_dd.flps
testing/dio2_2d_dd.visit
testing/dio2_2d_dd.vtm
testing/dio2_2d_dd_0.vtu
testing/dio2_2d_dd_1.vtu
testing/dio2_2d_dd_2.vtu
testing/dio2_2d_potentialonly.flps
testing/dio2_dd.flps
testing/dio2_dd.vtu.visit
testing/dio2_dd.vtu.vtm
testing/dio2_dd.vtu_0.vtu
testing/dio2_element_2d_dd.flps
testing/dio2_element_2d_dd.visit
testing/dio2_element_2d_dd.vtm
testing/dio2_element_2d_dd_0.vtu
testing/dio2_element_2d_dd_1.vtu
testing/dio2_element_2d_dd_2.vtu
testing/dio2_element_2d_potentialonly.flps
testing/dio2_potentialonly.flps
testing/diode.cc
testing/diode.hh
testing/floops.flps
testing/foodb
testing/foodb2
testing/gmsh_resistor2d_out.msh
testing/gmsh_resistor2d_potentialonly.flps
testing/gmsh_resistor3d.dat
testing/gmsh_resistor3d_out.msh
testing/gmsh_resistor3d_potentialonly.visit
testing/gmsh_resistor3d_potentialonly.vtm
testing/gmsh_resistor3d_potentialonly_0.vtu
testing/mctest_user.cc
testing/mctest_user.hh
testing/mesh2d.dat
testing/mesh2d.flps
testing/mesh2d.msh
testing/mesh3.msh
testing/mesh4.msh
testing/mos_2d.flps
testing/mos_2d.visit
testing/mos_2d.vtm
testing/mos_2d_0.vtu
testing/mos_2d_1.vtu
testing/mos_2d_2.vtu
testing/mos_2d_3.vtu
testing/mos_2d_dd.msh
testing/mos_2d_params.tcl
testing/mos_2d_potentialonly.flps
testing/mos_2d_potentialonly.visit
testing/mos_2d_potentialonly.vtm
testing/mos_2d_potentialonly_0.vtu
testing/mos_2d_potentialonly_1.vtu
testing/mos_2d_potentialonly_2.vtu
testing/mos_2d_potentialonly_3.vtu
testing/mos_2d_restart2.msh
testing/noise_res_2d.flps
testing/testdb
