[submodule "external/symdiff"]
	path = external/symdiff
	url = ../symdiff.git
[submodule "external/superlu"]
	path = external/superlu
	url = https://github.com/xiaoyeli/superlu.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
