
language: cpp

matrix:
  include:
  - os: osx
    env: COMPILER=gcc
    osx_image: xcode10.1
  - os: osx
    env: COMPILER=clang
    osx_image: xcode14.2
  - os: linux
    sudo: required
    dist: xenial
    services: docker
#  - os: osx
#    env: COMPILER=clang

addons:
  homebrew:
    update: false

#https://github.com/travis-ci/travis-ci/issues/6893
if: tag IS present

#https://docs.travis-ci.com/user/customizing-the-build/#git-clone-depth
git:
  depth: 3
  submodules: false

# prevent duplicate builds on tagged versions on master
# development to be done on other branches
#branches:
#  except:
#    - master

#before_install:

#install:

before_script:
  - export HOMEBREW_NO_AUTO_UPDATE=1 HOMEBREW_NO_INSTALL_CLEANUP=1 
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
      if [ "$COMPILER" == "gcc" ]; then
        brew install gcc@9 cmake;
      elif [ "$COMPILER" == "clang" ]; then
        brew install cmake;
        git submodule update --init --depth 1 external/eigen;
      fi
    fi
  # specifically for pypi deployment
  - export README_BASE_URL="https://github.com/devsim/devsim/blob/${TRAVIS_TAG}"
  - git submodule update --init --depth 1 external/symdiff
  - git submodule update --init --depth 1 external/boostorg/multiprecision
  - git submodule update --init --depth 1 external/boostorg/math
  - git submodule update --init --depth 1 external/boostorg/config
  - git submodule update --init --depth 1 external/umfpack_lgpl


script:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      ./scripts/build_docker_manylinux2014.sh ${TRAVIS_TAG};
    fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
      ./scripts/build_macos.sh $COMPILER "${TRAVIS_TAG}";
    fi

#before_deploy:

deploy:
  provider: releases
  api_key:
    secure: "M54vU57McJ5eux7jyElblqqIIZd1n5m7YOWY5yV60I8DM5dvRjSnpK+yrX8LSiKQ161hiFYP+avhQKNbY+NlQgx8iqwq4uC9SnUxaNX7bU32OhfN2IiD0lg8/DT9/h2csOtLI2sE7UdGt+dj6juMHPO9T3pCB9zIeJqpH25Pdqk="
  file_glob: true
  file:
    - "dist/devsim*.tgz"
    - "dist/devsim*.whl"
  skip_cleanup: true
  prerelease: false
  draft:      true
  # fix issue with multiple deployments https://github.com/travis-ci/travis-ci/issues/6132
  tag_name: $TRAVIS_TAG
  on:
    repo: devsim/devsim
    tags: true


