
language: cpp

matrix:
  include:
  - os: osx
    osx_image: xcode14.2
  - os: linux
    dist: focal
    services: docker
    arch: amd64
  - os: linux
    dist: focal
    services: docker
    arch: arm64

addons:
  homebrew:
    update: false

#https://github.com/travis-ci/travis-ci/issues/6893
if: tag IS present

#https://docs.travis-ci.com/user/customizing-the-build/#git-clone-depth
git:
  depth: 3
  submodules: false

# prevent duplicate builds on tagged versions on master
# development to be done on other branches
#branches:
#  except:
#    - master

#before_install:

#install:

before_script:
  - export HOMEBREW_NO_AUTO_UPDATE=1 HOMEBREW_NO_INSTALL_CLEANUP=1 
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then
      brew install cmake;
      git submodule update --init --depth 1 external/eigen;
    fi
  # specifically for pypi deployment
  - export README_BASE_URL="https://github.com/devsim/devsim/blob/${TRAVIS_TAG}"
  - git submodule update --init --depth 1 external/symdiff
  - git submodule update --init --depth 1 external/boostorg/multiprecision
  - git submodule update --init --depth 1 external/boostorg/math
  - git submodule update --init --depth 1 external/boostorg/config
  - git submodule update --init --depth 1 external/umfpack_lgpl
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then
      if [ "$TRAVIS_CPU_ARCH" = "arm64" ]; then
        git submodule update --init --depth 1 external/eigen;
      fi
    fi


script:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then
      ./scripts/build_docker_manylinux2014.sh ${TRAVIS_TAG};
    fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then
      ./scripts/build_macos.sh clang "${TRAVIS_TAG}";
    fi

#before_deploy:

deploy:
  provider: releases
  api_key:
    secure: "NC1eth9atMJXJzjtqvUTNFikaHZnfDEhN7b1p0RFpbBDxxzDhpRhxva5QkbiHCWp02S8BKBW1BcVg+wpyck0CJ1b66/3VjBXZaFo0e/KmPaA4+hWvyasEDOHYQUzbhZ2LFleqFYjy7uXifCcX/1u2vVNjRZFhFNRNN9WreHeaUo="
  file_glob: true
  file:
    - "dist/devsim*.tgz"
    - "dist/devsim*.whl"
  skip_cleanup: true
  prerelease: false
  draft:      true
  # fix issue with multiple deployments https://github.com/travis-ci/travis-ci/issues/6132
  tag_name: $TRAVIS_TAG
  on:
    repo: devsim/devsim
    tags: true


