
language: cpp

matrix:
  include:
  - os: linux
    sudo: required
    dist: trusty
    services: docker
  - os: osx
    env: COMPILER=gcc
    osx_image: xcode10.1
  - os: osx
    env: COMPILER=clang

#branches:
#  only:
#    - master

before_install:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then
    docker run -it -d --name centos6 centos:6 &&
    (cd .. && tar czf devsim.tgz devsim && docker cp devsim.tgz centos6:/root/) &&
    docker exec centos6 bash -c "cd /root && tar xzf devsim.tgz";
    fi

#install:


script:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then
    docker exec centos6 bash -c "cd /root/devsim && bash scripts/build_centos_6.sh devsim_linux_${TRAVIS_TAG}";
    fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
    if [ "$COMPILER" == "gcc" ]; then
      ./scripts/build_macos.sh $COMPILER "gcc_${TRAVIS_TAG}";
    elif [ "$COMPILER" == "clang" ]; then
      ./scripts/build_macos.sh $COMPILER "${TRAVIS_TAG}";
    fi
    fi

before_deploy:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then
    (cd dist && docker cp centos6:/root/devsim/dist/devsim_linux_${TRAVIS_TAG}.tgz .);
    fi

deploy:
  provider: releases
  api_key:
    secure: F2Cxh/mYSqsmCTsggWqD2frhUW5x94D2bl61zj2JHYyTUSU0KXyzFp8aQAaGzfyaoBlc9G5JlveozrwPFnJQK9Yh+IW5wj8yiDXA0s2hv/vhlmVQZ/PqOZBXDeHmmptnfZtRuMAFrZD/zm9BUwNi6/2czRFxn5JYKjb45SavV4Q=
  file_glob: true
  file: "dist/devsim*.tgz"
  skip_cleanup: true
  prerelease: false
  draft:      true
  # fix issue with multiple deployments https://github.com/travis-ci/travis-ci/issues/6132
  tag_name: $TRAVIS_TAG
  on:
    repo: devsim/devsim
    tags: true


